<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WMCB</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=622211794484959&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="navbar navbar-inverse navbar-fixed-top wmcbnavbar">
        <a class="navbar-brand " href="/Home/Index">
            <img src="~/Images/wmcb.jpg" />
        </a>
        <div class="container" style="padding-top:30px;">           
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                    <li>@Html.ActionLink("FIXTURES", "Fixtures", "Home")</li>
                    <li>@Html.ActionLink("TEAM PROFILES", "Teams", "Home")</li>
                    <li>@Html.ActionLink("STATISTICS", "Stats", "Home")</li>
                    <li>@Html.ActionLink("GROUNDS", "Grounds", "Home")</li>
                    <li>@Html.ActionLink("GALLERY", "Gallery", "Home")</li>
                    <li>@Html.ActionLink("DOWNLOADS", "Downloads", "Home")</li>
                    <li>@Html.ActionLink("NEWSLETTER", "Newsletter", "Home")</li>
                    <li>@Html.ActionLink("CONTACT", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">        
        @RenderBody()
        <div class="container" >
            <hr />
            <footer>
                <div class="row">
                    <div class="col-md-6"><p>&copy; @DateTime.Now.Year - Washington Metropolitan Cricket Board</p></div>
                    <div class="col-md-6 fb-like text-right" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div>
                </div>

            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
